{% extends "base.html" %}
{% block title %} Home | {{ SITENAME }} {% endblock %}

{% block header_container %}
<div class="bg-img" style="background-image: url('/theme/assets/images/pages/solar_frame_fabrication.jpeg');"></div>
<section>
  <h3>Experience Top-Notch Manufacturing Solutions for Canopies that Stand the Test of Time</h3>
  <!--<img src="assets/images/pages/genset_canopy.jpeg" alt="Canopy Image">-->
  <p>Brief description highlighting the quality, durability, and customization options of the canopies.</p>
  <a href="/services" class="cta-btn">Learn More</a>
</section>
{% endblock %}
{% block content %}
<!-- Services section -->
<section class="section" style="background-image: url('/theme/assets/images/pages/solar_installation.jpeg');">
    <h3>Harness the Power of the Sun: Professional Solar Installation Services Tailored to Your Needs</h3>
    <!--<img src="assets/images/pages/solar_installation.jpeg" alt="Solar Image">-->
    <p>Concise description emphasizing the benefits of solar energy and the expertise of F and D Engineering in installation.</p>
    <a href="/services" class="cta-btn">Discover More</a>
</section>

<section class="section" style="background-image: url('/theme/assets/images/pages/genset_canopy.jpeg');">
    <h3>Reliable Energy Solutions: Expert Installation of Diesel and Gas Generators for Uninterrupted Power Supply</h3>
    <!--<img src="generators.jpg" alt="Generators Image">-->
    <p>Informative description highlighting the importance of reliable power solutions and the proficiency of F and D Engineering in generator installation.</p>
    <a href="/services" class="cta-btn">Explore Options</a>
</section>

<section class="section" style="background-image: url('/theme/assets/images/pages/solar_frame_fabrication.jpeg');">
    <h3>Craftsmanship at its Finest: Specialized Fabrication Services for All Your Engineering Needs</h3>
    <!--<img src="assets/images/pages/solar_frame_fabrication.jpeg" alt="Fabrication Image">-->
    <p>Brief overview of the fabrication capabilities, precision, and attention to detail offered by F and D Engineering.</p>
    <a href="/services" class="cta-btn">See Our Work</a>
</section>

<section class="section" style="background-image: url('/theme/assets/images/pages/solar_frame_fabrication.jpeg');">
    <h3>Unlock the Full Potential of Your Projects with F and D Engineering: Your Trusted Engineering Partner</h3>
    
    <!-- Clients section -->
    <div class="testimonials">
    <!-- Testimonials from satisfied clients -->
    </div>

    <p>Convincing statement highlighting the company's expertise, reliability, and commitment to customer satisfaction.</p>
    <a href="/contact" class="cta-btn">Contact Us Today</a>
</section>
{% endblock content %}