{% extends "base.html" %}
{% block title %}Services | MetaCaptives{% endblock %}

{% block header_container %}
<!-- Header section -->
<header>
  <h1>What We Do</h1>
</header>
{% endblock %}

{% block content %}
<div class="service-section">
    <div class="service-title">Canopy Manufacturing</div>
    <div class="service-description">
    <strong>Overview:</strong> Discover our expert canopy manufacturing services, where precision meets innovation. We specialize in crafting top-tier canopies tailored to your unique needs.
    </div>
    <div class="service-description">
    <strong>Benefits:</strong> Experience enhanced functionality and aesthetics with our canopies. They offer optimal protection while seamlessly integrating with your architectural design.
    </div>
    <div class="service-description">
    <strong>Materials:</strong> We utilize premium-grade materials, ensuring longevity and resistance against environmental elements. Our selection is curated for durability and visual appeal.
    </div>
    <div class="service-description">
    <strong>Unique Selling Points:</strong> Gain a competitive edge with our canopies, distinguished by their cutting-edge design, durability, and seamless integration into diverse environments.
    </div>
</div>

<div class="service-section">
    <div class="service-title">Solar Installation</div>
    <div class="service-description">
    <strong>Overview:</strong> Explore our comprehensive solar installation services, where harnessing the power of the sun is made simple. F&D Engineering is your trusted partner for a sustainable energy future.
    </div>
    <div class="service-description">
    <strong>Benefits:</strong> Embrace the future of energy with our solar solutions. Enjoy reduced energy costs, environmental stewardship, and independence from conventional power sources.
    </div>
    <div class="service-description">
    <strong>Excellence in Solar Energy:</strong> Our expertise in solar energy installation is unrivaled. We employ industry-leading practices to maximize the efficiency and longevity of your solar panels.
    </div>
</div>

<div class="service-section">
    <div class="service-title">Diesel and Gas Generators</div>
    <div class="service-description">
    <strong>Overview:</strong> Experience uninterrupted power with our top-of-the-line diesel and gas generator services. We engineer robust solutions for critical power needs.
    </div>
    <div class="service-description">
    <strong>Reliability:</strong> Count on our generators for unwavering performance during power outages. Our solutions are engineered for dependable operation, ensuring your business remains operational.
    </div>
    <div class="service-description">
    <strong>Efficiency:</strong> We prioritize efficiency in every aspect of our generator services. From fuel consumption to power output, our solutions are designed to optimize resource utilization.
    </div>
    <div class="service-description">
    <strong>Customization Options:</strong> Tailor your generator system to meet specific requirements. We offer a range of customization options, ensuring your generator is perfectly aligned with your needs.
    </div>
</div>

<div class="service-section">
    <div class="service-title">Fabrication Services</div>
    <div class="service-description">
    <strong>Overview:</strong> Step into a realm of precision and versatility with our fabrication services. F&D Engineering brings your unique designs to life, setting new standards for quality.
    </div>
    <div class="service-description">
    <strong>Precision and Quality:</strong> Our fabrication services are characterized by unparalleled precision and uncompromising quality. Every component we create undergoes rigorous testing to meet the highest standards.
    </div>
    <div class="service-description">
    <strong>Versatility in Expertise:</strong> Whether it's complex structures or intricate components, our fabrication capabilities cover a wide spectrum of industries, showcasing our versatility in meeting diverse needs.
    </div>
  </div>
{% endblock %}