body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Responsive navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }

  .active {
    background-color: #494848;
  }
  
  .logo img {
    max-height: 40px;
  }
  
  nav a {
    color: #f2f2f2  ;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
  }
  
  nav a:hover {
    background-color: #494848;
    color: #333;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 242px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .social-buttons {
    display: flex;
  }
  
  .social-buttons a {
    margin-left: 10px;
  }

/* Responsive header */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f2f2f2;
}
  
header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
header h2 {
    font-size: 18px;
    font-weight: normal;
}

.contact-section {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

.contact-form button:hover {
  background-color: #494848;
}

/* Responsive footer */
footer {
  background-color: #333;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
}

.social-media a {
  margin-right: 10px;
}